:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  color: #242424;
  width: 100vw;
  height: 100vh;
  max-width: 480px;
  max-height: -webkit-fill-available;
  align-items: center;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.drawer-ui {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 8px 16px;
  background-color: #fff;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  bottom: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0px -4px 20px 0px #0000001f;
}

.game-top-ui {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.game-bottom-ui {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9999;
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.game-bottom-ui .next {
  width: 100%;
  padding: 8px 8px 16px;
  background-color: #fff;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  box-sizing: border-box;
  bottom: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0px -4px 20px 0px #0000001f;
}

.score {
  box-shadow: 0px 8px 20px 0px #0000001f;
  background-color: white;
  padding: 16px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 30px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
}

.score::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("./assets/box.svg");
}

.score.animate-pop {
  animation: popScore 0.5s 1 ease-in;
}

@keyframes popScore {
  0% {
    transform: scale(1.17);
  }

  70% {
    transform: scale(1);
  }
}

.timer {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  color: white;
  padding: 16px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 30px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.timer.alert {
  background-color: rgba(255, 0, 0, 0.4);
  animation: alertTimer 1s infinite ease-in;
}

@keyframes alertTimer {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.1);
  }
}

.marker-solve {
  background-color: #302f2d;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  color: white;
  text-align: center;
  line-height: 48px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.marker-solve.active {
  background-color: #1cc052;
  pointer-events: none;
}

.marker-solve.current {
  pointer-events: unset;
  background-color: #1cc052;
}

.marker-solve.disable {
  pointer-events: none;
  background-color: rgb(171, 171, 171);
}

.marker-solve.current::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  z-index: -1;

  content: "";

  border-radius: 50%;
  box-shadow: 0 0 0 3px #1cc052;

  transform: scale(0.1);
  animation: activateMarker 1s infinite linear;
}

@keyframes activateMarker {
  0% {
    opacity: 1;

    transform: scale(0.3);
  }

  100% {
    opacity: 0;

    transform: scale(2.5);
  }
}

.end-game-ui {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.end-game-ui button:not(:last-child) {
  margin-bottom: 4px;
}

.end-game-ui .overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.end-game-ui .overlay::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.3);
}

.end-game-ui .drawer {
  position: absolute;
  bottom: 0;
  background-color: #333333;
  color: white;
  width: 100%;
  z-index: 9999999;
  padding: 8px;
  box-sizing: border-box;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  text-align: center;
  animation: drawerUp 0.3s ease-in 1;
}

@keyframes drawerUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.end-game-ui .drawer h3 {
  font-size: 48px;
  line-height: 1;
  margin: 12px 0;
}

.end-game-ui .drawer h4 {
  font-size: 24px;
  line-height: 1;
  margin: 12px 0;
}

h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  z-index: 99;
  font-size: 68px;
  text-align: center;
  text-transform: uppercase;
}

.back-btn {
  box-shadow: 0px 8px 20px 0px #0000001f;
  background-color: white;
  height: 59px;
  width: 59px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn::before {
  content: "";
  display: block;
  width: 24px;
  height: 26px;
  margin: auto;
  background: url("./assets/back.svg") no-repeat;
}

.btn-help {
  box-shadow: 0px 8px 20px 0px #0000001f;
  background-color: white;
  height: 59px;
  width: 59px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-help::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin: auto;
  background: url("./assets/help.svg") no-repeat;
}

.cover {
  background: url("./assets/cover_main.png") top center no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.main-top-ui {
  display: flex;
  position: sticky;
  justify-content: center;
  margin-top: 20px;
}

.logo {
  width: 175px;
  height: 26px;
  background: url("./assets//logo.svg") center center no-repeat;
}
